<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% asset 'built/app.css' %}" />
    <script src="{% asset 'built/app.js' %}" defer></script>
    <title>{% block title %}Kebabkhana{% endblock %}</title>
  </head>
  <body>
    {% include 'shared/navbar.html' %}
    <main>
      {% include 'shared/alert.html' with flash=flash %}
      {% block content %}
      {% endblock content %}
    </main>
  </body>
</html>
