{% extend "base.html" %}

{% block content %}
<h1>Profile</h1>
<div>
    <strong>First Name:</strong> {{ request.user.first_name }}
    <strong>Last Name:</strong> {{ request.user.last_name }}
    <strong>Email:</strong> {{ request.user.email }}
    &bull;&nbsp;<a href="{% url 'auth:password_update' %}">Update password</a>
    &bull;&nbsp;<form method="post" action="{% url 'auth:sign_out' %}" enctype="multipart/form-data" style="display:inline;" novalidate><input type="hidden" name="csrftoken" value="{% csrf_token %}" /><button type="submit" class="link-button">Sign out</button></form>
</div>
{% endblock content %}
