{% extend "auth.html" %}

{% block content %}
<section class="bg-gray-50 dark:bg-gray-900">
  <div class="max-w-screen-lg mx-auto py-8 px-6">

    <div class="flex justify-between items-center mb-6">
      <h1 class="text-2xl font-bold text-gray-900 dark:text-white">Batches</h1>
      {% if request.user.admin? %}
      <a class="bg-primary-600 hover:bg-primary-700 text-white font-medium py-2 px-4 rounded-lg text-sm" href="{% url 'management:create_batch' %}">
        + New
      </a>
      {% endif %}
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {% for batch in records %}
      <div class="bg-white dark:bg-gray-800 p-4 rounded-lg shadow-md max-w-md relative">
        
        {% if request.user.admin? %}
        <form class="absolute top-5 right-3" method="post" action="{% url 'management:update_batch' pk: batch.id %}"
          enctype="multipart/form-data" novalidate>
          <input type="hidden" name="csrftoken" value="{% csrf_token %}" />
          <input type="hidden" name="name" value="{{ batch.name }}">
          <input type="hidden" name="status" value="{% if batch.active? %}locked{% else %}active{% endif %}">
          <button type="submit">
            {% if batch.active? %}
            <svg class="w-6 h-6 text-red-600 dark:text-red-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M8 10V7a4 4 0 1 1 8 0v3h1a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h1Zm2-3a2 2 0 1 1 4 0v3h-4V7Zm2 6a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z" clip-rule="evenodd"/>
            </svg>            
            {% else %}
            <svg class="w-6 h-6 text-green-600 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M15 7a2 2 0 1 1 4 0v4a1 1 0 1 0 2 0V7a4 4 0 0 0-8 0v3H5a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-7a2 2 0 0 0-2-2V7Zm-5 6a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z" clip-rule="evenodd"/>
            </svg>
            {% endif %}
          </button>
        </form>
        {% endif %}

        <h2 class="text-xl font-semibold text-gray-900 dark:text-white mb-2">{{ batch.name }}</h2>

        <p class="text-sm text-gray-700 dark:text-gray-300 mb-4">
          {% if batch.active? %}
          <span
            class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">Active</span>
          {% else %}
          <span
            class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">Locked</span>
          {% endif %}

          <span
            class="bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-purple-900 dark:text-purple-300">
            {{ batch.order_count }} Orders
          </span>
        </p>

        <p class="text-sm text-gray-700 dark:text-gray-300 mb-12 font-bold">
          <span class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-1.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">
            Total: {{ batch.total }} IQD
          </span>

          <span class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-1.5 py-0.5 rounded dark:bg-green-900 dark:text-gray-400 border border-gray-500">
            Total Paid: {{ batch.total_paid }} IQD
          </span>
        </p>

        <div class="{% if request.user.admin? %}mb-16{% endif %}">

          {% if batch.order_count > 0 %}
          <div class="relative overflow-x-auto mb-4">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
              <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                  <th scope="col" class="px-4 py-1  dark:border-gray-600">
                    Item
                  </th>
                  <th scope="col" class="px-4 py-1  dark:border-gray-600">
                    Qty
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for item in batch.items %}
                <tr class="bg-white dark:bg-gray-800 border-b border-gray-300 dark:border-gray-600">
                  <th scope="row" class="px-4 py-1 font-medium text-gray-900 whitespace-nowrap dark:text-white dark:border-gray-600">
                    {{ item.first }}
                  </th>
                  <td class="px-4 py-1 dark:border-gray-600">
                    {{ item.last }}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr class="text-gray-900 dark:text-white dark:border-gray-600">
                  <th scope="row" class="px-4 pt-4 dark:border-gray-600">Total</th>
                  <td class="px-4 pt-4" colspan="2">{{ batch.total }} IQD</td>
                </tr>
                <tr class="text-gray-900 dark:text-white dark:border-gray-600 ">
                  <th scope="row" class="px-4 dark:border-gray-600">Paid</th>
                  <td class="px-4 py-1" colspan="2">{{ batch.total_paid }} IQD</td>
                </tr>
              </tfoot>
            </table>
          </div>
          {% else %}
          <p class="text-sm text-gray-700 dark:text-gray-300 mb-4">
            No items in this batch
          </p>
          {% endif %}
        </div>

        {% if request.user.admin? %}
        <a href="{% url 'management:update_batch' pk: batch.id %}"
          class="absolute bottom-4 right-4 bg-primary-600 hover:bg-primary-700 text-white font-medium py-2 px-2 rounded-lg text-sm">
          Update
        </a>
        {% endif %}
      </div>
      {% endfor %}
    </div>

    {% include "/shared/pagination.html" with records=records, total_pages=total_pages %}
  </div>
</section>

{% endblock content %}
