{% extend "base.html" %}

{% block content %}
<section class="py-8 antialiased bg-white dark:bg-gray-900 md:py-16">
    <div class="grid max-w-screen-xl px-4 pb-8 mx-auto md:grid-cols-12 lg:gap-12 lg:pb-16 xl:gap-0">
      <div class="content-center order-1 justify-self-start md:col-span-7 md:text-start">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight dark:text-white md:max-w-2xl md:text-5xl xl:text-6xl">Welcome to Kebabkhana</h1>
        <p class="max-w-2xl mb-3 mb-4 text-gray-500 dark:text-gray-400 md:mb-12 md:text-lg lg:mb-5 lg:text-xl">Don't wait – order the lovely and tasty kebab on your favorite day of the week, Kebab Day!</p>
        <a href="#" class="inline-block rounded-lg bg-primary-700 px-6 py-3.5 text-center font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Kebab Now</a>
      </div>
      <div class="md:col-span-5 md:mt-0 md:flex md:justify-center md:items-center">
        <img src="{% asset 'images/kebab.png' %}" class="object-cover w-full h-full rounded-lg shadow-lg md:rounded-xl md:shadow-xl md:object-contain md:object-center md:h-96 lg:h-96 xl:h-96" alt="Kebab">
      </div>
    </div>
  </section>
{% endblock %}
