{% if not flash.empty? %}
<div id="flash-container" class="flashes space-y-2">
  {% for key, message in flash %}
  <div class="flash p-4 text-sm text-center border-l-4
    {% if key == 'notice' %}
      text-green-800 bg-green-50 dark:bg-gray-800 dark:text-green-400 border-green-400
    {% elsif key == 'error' %}
      text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400 border-red-400
    {% else %}
      text-gray-800 bg-gray-100 dark:bg-gray-800 dark:text-gray-400 border-gray-400
    {% endif %}" role="alert">
    {{ message }}
  </div>
  {% endfor %}
</div>

<script>
    // Automatically hide the flash messages after 3 seconds (3000 milliseconds)
    setTimeout(function() {
      const flashContainer = document.getElementById('flash-container');
      if (flashContainer) {
        flashContainer.style.transition = 'opacity 500ms';
        flashContainer.style.opacity = '0';  // Fade out effect
        setTimeout(function() {
          flashContainer.remove();  // Remove from DOM after fade out
        }, 1000);  // Wait for the fade out transition to complete (1 second)
      }
    }, 3000);  // 3-second delay before starting fade out
</script>
{% endif %}
