<nav class="flex items-center flex-column flex-wrap sm:flex-row justify-between pt-4">
    <span
        class="text-sm font-normal text-gray-500 dark:text-gray-400 mb-4 sm:mb-0 block w-full sm:inline sm:w-auto">
        Showing page<span class="font-semibold text-gray-900 dark:text-white"> {{ records.number }} </span> of <span class="font-semibold text-gray-900 dark:text-white"> {{ total_pages }} </span></span>
    <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
        {% if records.previous_page? %}
        <li>
            <a href="?page={{ records.previous_page_number }}" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-200 font-semibold dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
        </li>
        {% else %}
        <li>
            <a href="#" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400">Previous</a>
        </li>
        {% endif %}

        {% if records.next_page? %}
        <li>
            <a href="?page={{ records.next_page_number }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-200 font-semibold dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
        </li>
        {% else %}
        <li>
            <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
