{% extend "auth.html" %}

{% block content %}
<section class="bg-gray-50 dark:bg-gray-900">
    <div
        class="py-8 px-4 mx-auto text-center lg:py-16 lg:px-12 min-h-[calc(100vh-3.5rem)] flex flex-col items-center justify-center">
        <h1
            class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
            Celebrate Kebab Day with Kebabkhana!</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Kebab Day is
            the best part of your Thursday! Whether you’re a fan of tender sada, juicy ma7shi, or delicious sour chicken
            tikka, Kebabkhana has got you covered. Place your order now and make your workday special with a freshly
            prepared kebab meal. Don't miss out on the weekly tradition – gather your coworkers and get your orders in
            today at Kebabkhana!</p>
        <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
            <a href="{% url 'management:create_order' %}"
                class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                Order Now!
            </a>
        </div>
    </div>
    </div>
</section>

{% endblock content %}
