{% extend "auth.html" %}

{% block content %}
<section class="bg-gray-50 dark:bg-gray-900">
  <div class="max-w-screen-lg mx-auto py-8 px-6">

    <div class="flex justify-between items-center mb-6">
      <h1 class="text-2xl font-bold text-gray-900 dark:text-white">Orders</h1>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {% for order in records %}
        <div class="bg-white dark:bg-gray-800 p-4 rounded-lg shadow-md max-w-md relative">

          {% include "/order/delete.html" with order=order %}

          <form class="absolute top-5 right-12" method="post" action="{% url 'management:update_order' pk: order.id %}"
            enctype="multipart/form-data" novalidate>
            <input type="hidden" name="csrftoken" value="{% csrf_token %}" />
            <input type="hidden" name="name" value="{{ order.name }}">
            <input type="hidden" name="status" value="{% if order.paid? %}unpaid{% else %}paid{% endif %}">
            <button type="submit">
              {% if order.paid? %}
              <svg class="w-6 h-6 text-red-800 dark:text-red-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                  d="M8 7V6a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1M3 18v-7a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1Zm8-3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" />
              </svg>
              {% else %}
              <svg class="w-6 h-6 text-green-800 dark:text-green-400" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M7 6a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2h-2v-4a3 3 0 0 0-3-3H7V6Z"
                  clip-rule="evenodd" />
                <path fill-rule="evenodd"
                  d="M2 11a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-7Zm7.5 1a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5Z"
                  clip-rule="evenodd" />
                <path d="M10.5 14.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" />
              </svg>
              {% endif %}
            </button>
          </form>

          <h2 class="text-xl font-semibold text-gray-900 dark:text-white mb-2 truncate w-2/3">
            {{ order.user.full_name }}
          </h2>

          <p class="text-sm text-gray-700 dark:text-gray-300 mb-4">
            {% if order.paid? %}
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">Paid</span>
            {% else %}
            <span
              class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">Unpaid</span>
            {% endif %}

            <span
              class="bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-purple-900 dark:text-purple-300">
              {{ order.batch.name }}
            </span>
          </p>

          {% if order.order_items.size > 0 %}
          <div class="mb-3">
            <p class="text-sm text-gray-700 dark:text-gray-300 font-bold mb-1">
              Items:
            </p>
            <ul class="max-w-sm space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 truncate text-sm">
              {% for order_item in order.order_items %}
              <li>{{ order_item.item.name }} (x{{ order_item.quantity }})</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}

          <p class="text-sm text-gray-700 dark:text-gray-300 mb-12 font-bold">
            <span
              class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-1.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">{{
              order.total }} IQD</span>
          </p>

          <a href="{% url 'management:update_item' pk: order.id %}"
            class="absolute bottom-4 right-4 bg-primary-600 hover:bg-primary-700 text-white font-medium py-2 px-2 rounded-lg text-sm">
            Update Items
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>


{% endblock content %}
